canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color:back;
}
.current-score {
  left: 20px;
}
.top-score {
  right: 20px;
}
.score {
  display: block;
  position: absolute;
  top: 15px;
  z-index: 1;
  font-size: 20px;
  right: 20px;
  color: white;
}
.controls {
  display: block;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  font-size: 11px;
  text-align: center;
  line-height: 1.6;
  color:white;
}

.shipSelector{
  display: flex;
  overflow: scroll;
  width: 400px;
  justify-content: space-around;
}

button{
  margin:10px;
}

.background{
  background-color: black;
  width: 100%;
  height: 100%;
}
.centeredMenu{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  z-index: 1;
  text-align: center;
  background: rgba(100, 100, 100, 0.5);
  color: white;
}